*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color:rgb(187, 187, 230);
}
#navbar{
    background-color: rgb(7, 7, 36);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.main_logo{
    color: white;
    text-decoration: none;
    font-size: larger;
    display: flex;
    align-items: center;
}


.cart{
    display: flex;
    align-items: center;
}
.cart_logo{
    height: 30px;
}

#category{
    background-color: rgba(1, 1, 43, 0.863);
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
}
.opt{
    color: white;
    text-decoration: none;
    padding: 2px;
    border: 1px solid transparent;
}
.opt:hover{
    border: 1px solid white;
}

.cart_section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center ;
    margin-top: 10px;
    gap: 10px;
}
.cart_div{
    background-color: white;
    width: 600px;
    height: auto;
    border-radius: 10px;
    padding: 10px;

}
.heading_text{
    display: flex;
    justify-content: center;
    background-color: rgb(5, 5, 58);
    border-radius: 10px;
    padding: 5px;
}
.products_cart{
    color: white;


}

.product_div{
    border-radius: 10px;
    border: 2px solid black;
    width: 580px;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

.product_image{
    height: 80px;
    border-radius: 5px;
    width: 100px;
    object-fit: cover;
    
}
.product_name{
    color: black;
}
.product_price{
    color: black; 
}
.product_remove{
    border-radius: 20px;
    background-color: rgb(228, 34, 34);
    border: 2px solid transparent;
    height: 30px;
    margin-left:30px ;
    color: white;
    font-size: 15px;
    width: 100px;
    gap: 30px;
    cursor: pointer;

}

.product_remove:hover{
    border:2px solid black ;
}


.summary{
    padding: 10px;
    width: 600px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order_summary{
    display: flex;
    justify-content: center;
    background-color: rgb(5, 5, 58);
    border-radius: 10px;
    padding: 5px;
    color: white;
}


.total{
    height: auto;
    width: 595px ;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
}
.order_div{
    border-radius: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    justify-content: space-between;
}

.order_name{
    color: black;
    font-size: 15px;
}
.order_price{
    color: black;
    font-size: 15px;
}



.total_cost{
    border: 1px solid black;
    height: 40px;
    width: 590px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.cost{
    color: black;
}


.place_div{
    display: flex;
    justify-content: center;
}

.place_order{
    border: 1px solid transparent;

    background-color: red;
    color: white;
    font-size: 20px;
    height: 30px;
    width:180px;
    border-radius: 10px;
}
.place_order:hover{
    border: 1px solid black;
}

